<% provide(:title, "About") %>
<section class="section">
  <div class="container">
    <h2 class="subtitle is-2">Chazona Baum</h2>
    <div class="content">
      <p>Over the past year, I have taught myself as much full-stack web development as my eager mind can take in. Learn more about me at <a href="https://chazonabaum.com/about">my portfolio/blog website</a>.</p>
    </div>
    <h3 class="subtitle is-3">Hire Me</h3>
    <div class="content">
      <p>I am currently available for employment either remotely or local to the Virginia Beach, Virginia, USA area. My portfolio and <a href="https://github.com/chznbaum">GitHub</a> are great places to check out my work, and I would welcome technical testing via a small take-home project. I can be <a href="https://chazonabaum.com/contact">contacted directly through my portfolio website</a>.</p>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <h2 class="subtitle is-2">The #100DaysOfCode Challenge</h2>
    <div class="content">
      <p>Founded by Alexander Kallaway in 2016, the #100DaysOfCode challenge is a daily promise to code at minimum an hour each day for 100 consecutive days, to tweet the progress and encourage others within the challenge.</p>
      <p>Read <a href="https://medium.freecodecamp.com/join-the-100daysofcode-556ddb4579e4">the article that started it all</a>, <a href="https://medium.freecodecamp.com/start-2017-with-the-100daysofcode-improved-and-updated-18ce604b237b">the revised follow-up article</a>, or learn more at <a href="http://100daysofcode.com">the official 100DaysOfCode website</a>.</p>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <h2 class="subtitle is-2">The Stack</h2>
    <div class="content">
      <p>This site was created using the following technologies and tooling:</p>
      <h3>Front-End</h3>
      <ul>
        <li>ERB</li>
        <li>SCSS</li>
        <li><a href="http://bulma.io/">Bulma</a></li>
        <li><em>Will use JavaScript and Vue.js</em></li>
      </ul>
      <h3>Back-End</h3>
      <ul>
        <li>Rails 5</li>
        <li>PostgreSQL</li>
        <li>Webpack</li>
      </ul>
      <h3>Testing and Deployment</h3>
      <ul>
        <li>Minitest with Fixtures</li>
        <li>Travis CI</li>
        <li>Heroku</li>
      </ul>
      <p>This site is freely-available open-sourced. If you find it useful, please feel free to adapt a copy for your needs and star it on <a href="https://github.com/chznbaum/hundred-days">GitHub</a>.</p>
      <p>Motivation tracking inspired by and adapted from <a href="https://twitter.com/SchnucklePi">@SchnucklePi</a>. Progress bar tracking inspired by and adapted from <a href="https://twitter.com/ChrisVomRhein">@ChrisVomRhein</a>.</p>
    </div>
  </div>
</section>