<% provide(:title, "About") %>
<h1>About</h1>
<h2>Chazona Baum</h2>
<p>I am a self-taught full-stack developer who primarily works with Ruby on Rails.</p>
<p>Read more on <a href="https://chazonabaum.com/about">my website</a>.</p>
<h2>The #100DaysOfCode Challenge</h2>
<p>Founded by Alexander Kallaway in 2016, the #100DaysOfCode challenge is a daily promise to code at minimum an hour each day for 100 consecutive days, to tweet the progress and encourage others within the challenge.</p>
<p>Read <a href="https://medium.freecodecamp.com/join-the-100daysofcode-556ddb4579e4">the article that started it all</a>, <a href="https://medium.freecodecamp.com/start-2017-with-the-100daysofcode-improved-and-updated-18ce604b237b">the revised follow-up article</a>, or learn more at <a href="http://100daysofcode.com">the official 100DaysOfCode website</a>.</p>