<h1>Contact</h1>
<p>Feel free to contact me through <a href="https://chazonabaum.com/contact">my website</a>. This #100DaysOfCode log website is a work-in-progress, so feedback and suggestions are always welcome.</p>
