<% provide(:title, "Home") %>
<section class="hero is-info is-medium is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title is-1">Chazona's #100DaysOfCode Log</h1>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <p>
      This is the home page for <a href="https://chazonabaum.com">Chazona Baum</a>'s log for the #100DaysOfCode challenge.
    </p>
  </div>
</section>