<% provide(:title, "Home") %>
<section class="section">
  <div class="container">
    <p>
      This is the home page for <a href="https://chazonabaum.com">Chazona Baum</a>'s log for the #100DaysOfCode challenge.
    </p>
  </div>
</section>