<% provide(:title, "New Log") %>
<section class="section">
  <div class="container">
    <%= render 'form', log: @log %>

    <%= link_to 'Back', logs_path, class: 'button is-light' %>

  </div>
</section>